<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <title>Expanding Cards</title>
</head>
<body>
    <h1>Expanding Cards</h1>
    <div class="container">
        <div class="panel active" style="background-image: url('/assets/images/alessandro-erbetta-8oYPewvmhnY-unsplash.jpg')">
            <h3>Explore the World</h3>
        </div>
        <div class="panel" style="background-image: url('/assets/images/mike-arney-rJ5vHo8gr2U-unsplash.jpg')">
            <h3>Wild Forest</h3>
        </div>
        <div class="panel" style="background-image: url('/assets/images/the-travel-nook-2FoqQ0EPwLg-unsplash.jpg')">
            <h3>Sunny Beach</h3>
        </div>
        <div class="panel" style="background-image: url('/assets/images/tapio-haaja-OsAIglGMBss-unsplash.jpg')">
            <h3>City on Winter</h3>
        </div>
        <div class="panel" style="background-image: url('/assets/images/mike-suarez-c-nAc51Z48KHs-unsplash.jpg')">
            <h3>Mountains-Clouds</h3>
        </div>
    </div>
    <h6>-Kumbukani Kamanga 2021-</h6>
    <script src="/assets/js/script.js"></script>
</body>
</html>